@page "/game"
@using Cards.Core.Game
@using Cards.Game
@using Cards.Core.Dto
@using Microsoft.AspNetCore.SignalR.Client


<PageTitle>Game</PageTitle>

<div class="stack-vertical">
    <div class="stack-horizontal">
        <div class="stack-vertical">
            Black card:
            <BlackCard Text="Black card text" />
        </div>
        <div class="stack-vertical">
            Selected cards:
            <div class="stack-horizontal">
                @for (int i = 0; i < 3; ++i)
                {
                    <SelectedCard />
                }
            </div>
        </div>

    </div>

    <div class="stack-vertical">
        Your cards:
        <UserCards Cards=@Cards
                   OnConfirmSelection=@OnConfirmSelection
                   RequiredCards=2 />
    </div>
</div>




@code {
    private HubConnection _hubConnection;

    protected override Task OnInitializedAsync()
    {
        _hubConnection = new HubConnectionBuilder()
            .WithUrl("/game")
            .Build();

        _hubConnection.On<PlayerSpecificGameSnapshotDto>("UpdateGameState", UpdateGameState);

        return base.OnInitializedAsync();
    }

    public List<WhiteCard> Cards { get; private set; } = new();

    private void UpdateGameState(PlayerSpecificGameSnapshotDto gameSnapshot)
    {
        Cards = gameSnapshot.Hand.ToList();
    }

    private void OnConfirmSelection()
    {

    }

}
